<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>503633570703-gioq3gomttcq7bmj39n20gc4vu3r64oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503633570703-gioq3gomttcq7bmj39n20gc4vu3r64oc</string>
	<key>API_KEY</key>
	<string>AIzaSyD79YJBHmXZJyAs-7RoKWNE_ApUk2N0yrs</string>
	<key>GCM_SENDER_ID</key>
	<string>503633570703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevodriqRoberts.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2f8f4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2f8f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503633570703:ios:2d84eeefde8cb3c8</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2f8f4.firebaseio.com</string>
</dict>
</plist>